body {
  background-color: #1e1e1e;
}

h1 {
  color: whitesmoke;
}

.team-heading {
  background-color: #b86225;
}

.employee-card {
  background-color: #2d2d2d;
  color: whitesmoke;
  margin: 1rem 1rem 2rem 1rem;
  min-width: 20rem;
  max-height: auto;
}

.list-group-item {
  background-color: #3f3f3f;
}

@media only screen and (min-width: 768px) {
  .employee-card {
    float: left;
  }
  .team-area-container {
    display: flex;
    justify-content: center;
  }
  .employee-card {
      margin-bottom: 1rem;
  }
}
